@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 6rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.right {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2rem;
}

.heroL {
    width: 400px;
}

.hero1 {
    font-size: 48px;
    font-weight: bold;
}

.hero2 {
    font-size: 18px;
}

.heroR {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    width: 500px;
    height: 200px;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 28px;
    margin-top: 10px;
    border-radius: 7px;
    border-style: none;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.main h2 {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 4rem;
}

.main img {
    height: 125px;
    width: 125px;
}

.container {
    display: flex;
    gap: 50px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 140px;
    text-align: center;
}

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5rem 0;
}

.container2 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.text1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.text2 {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
}

.container3 {
    display: flex;
    background-color: #3882F6;
    padding: 2rem 12rem;
    border-radius: 10px;
}

.text3 {
    display: flex;
    flex-direction: column;
}

.cta1 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.cta2 {
    color: #F9FAF8;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
}

.cta3 {
    display: flex;
    margin-left: 7rem;
}

.cta3 button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 1px 40px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 1rem 0;
    font-size: 12px;
}